:root {
    --grid-color: #a400bd;
    --list-color: #000dbd;
}

body {
    background-color: #f3f3f3;
    font-size: 14px;
}

.display-4 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.6rem;
}

main {
    margin: 0% 8vw;
}

section {
    background-color: white;
    border-radius: 20px;
    text-align: center;
}

.row {
    margin: 0% 8vw;
}

.btn-card {
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 0;
    padding: 8px;
}


#anomalies {
    display: block;
    overflow-y: auto;
    max-height: 60vh;
    width: 100%;
}


#airPredictions, #waterPredictions {
    display: block;
    overflow-y: auto;
    max-height: 20vh;
    width: 100%;
}

tr, th, td {
    width: 20vw;
}


.sidebar {
    position: fixed;
    float: left;
    z-index: 20;
    top: 35%;
    bottom: 35%;
    height: 30%;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    border-radius: 0px 12px 12px 0;
    background-color: white;
}

.btn-sidebar {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 2px;
    padding-left: 0.6rem;
    transition: 0.2s;
    border-radius:6px;
}

.btn-sidebar img {
    height: 1.2rem;
    width: 1.2rem;
    transition: 0.2s;
}

.btn-sidebar:hover img {
    filter: invert(1);
    transition: 0.2s;
}

.btn-grid {
    border: 2px solid var(--grid-color);
}

.btn-grid:hover {
    color: white;
    background-color: var(--grid-color);
    transition: 0.2s;
}

.btn-list {
    border: 2px solid var(--list-color);
}

.btn-list:hover {
    color: white;
    background-color: var(--list-color);
    transition: 0.2s;
}
